.pHidden {
	display: none;
}


.cortexitWrap {
	border: 1px solid green;
	background-color: gray;
	padding: 0.5em;
	padding-bottom: 2em;
}

.cortexitContent {
	min-height: 20px;
	background-color: black;
	color: white;
	width: 100%;
}
.cortexitMenu {
	clear: both;
	float: right;
	color: white;
	font-size: 2em;
	font-family: Arial, sans;
	
}
