root { 
    display: block;
}

body {
    font-family: Arial, sans;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}


#mapHeat {
    z-index: 3000;
    pointer-events: none;
    opacity: 0.5;
}

#tabs {
    border: none;
    height: 95%;
}
#tabs-0, #tabs-1, #tabs-2, #tabs-3 {
    overflow: auto;    
    height: 100%;
}
#tree1 {
    margin-left: 0px;
    margin-top: 0px;
}
#tree1  {
    font-size: 100%;
    padding-top: 0.3em;    
    padding-bottom: 0.3em;    
}
#tree1 li b {
    font-size: larger;
    text-decoration: underline;
}
ul.mktree, ul.mktree ul, ul.mktree li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
ul.mktree ul {
}
ul.mktree li.libullet .bullet {
    cursor: default;
    background: none;
    display: none;
}


#presets {
    margin: 0px;
    padding-left: 0px;
}

#presets li {
    font-size: 120%;
    list-style: none;
}

#presets li p {
    margin-left: 2em;
}


div.sensorItem {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: solid 1px rgba(150, 150, 150, 0.25);
}
div.sensorControl {
    margin-left: 3em;    
}
.controlDisabled {
    display: none;
}
.controlEnabled {
    display: block;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
.sf-menu {
    margin-bottom: 0.5em;
}
.sf-menu a, .sf-menu a:visited {
        color: #fff;
        text-shadow: none;
        border: none;
}
.sf-menu li {
	background:		#444;
}
.sf-menu li li {
	background:		#555;
}
.sf-menu li li li {
	background:		#666;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#cfcfcf;
	color: 			black;
	outline:		0;
	
}

.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0.7em;
}

.inlineAlert {
    color: #a00;
    border: 1px solid gray;
    padding: 0.5em;
}

#userSupportMessage {
    font-size: 2em;
}

#Menu {
	z-index: 50000;
	position: fixed;
	top: 0;
	left: 0;	
}

.PageWrapper {
	margin-top: 3em;
}

.ModeSelectButton0 { background-color: gray; color: black; }
.ModeSelectButton1 { background-color: #4F8728; color: white; }
.ModeSelectButton2 { background-color: #207045; color: white; }
.ModeSelectButton3 { background-color: #2E008F; color: white; }
.ModeSelectButton4 { background-color: #46008F; color: white; }
.ModeSelectButton5 { background-color: #7E007F; color: white; }
.ModeSelectButton6 { background-color: #7E3255; color: white; }