#map, #mapHeat {
    width: 58%;
    height: 48%;
    position: fixed;
    right: 1em;
    bottom: 1em;    
}
#statusWrap {
}


#status {
    width: 58%;
    height: 48%;
    position: fixed;
    right: 1em;
    top: 0;
    overflow: auto;
}
#statusContent {
}
