.objectView {
	padding: 0.25em;
	padding-bottom: 3.0em;
	margin-bottom: 0.5em;
    background-color: rgba(255,255,255,0.4);
    background-image: -webkit-linear-gradient(bottom left, rgba(255,255,255,0.8) 0%, rgba(235,235,235,0.8) 100%);
	border-left: 5px solid rgba(0,0,0,0.5);
}
.objectView h1 {
	font-size: 125%;
	font-weight: bold;
}
.objectView h2 {
	font-size: 115%;
	font-weight: normal;
	margin: 0;
}
.objectView h3 {
	font-size: 70%;
	font-weight: normal;
	color: #333;
	margin: 0;
}

.MessageSubject {
    width: 100%;
    font-size: 125%;
}
.MessageDescription {
    width: 98%;	
}


.TypePropertyButtons {
	padding-left: 0.5em;	
	padding-top: 0.5em;
}
.TypePropertyButtons button {
	font-size: 60%;
	padding: 0.25em;
}

.DataViewMenu {
	padding: 0.25em;	
	
	background-color: black;
}
