.objectView {
	padding: 0.1em;
	margin-bottom: 2.35em;
	
}

.objectView h1 {
	font-size: 125%;
	font-weight: bold;
}
.objectView h2 {
	font-size: 115%;
	font-weight: normal;
	margin: 0;
}
.objectView h3 {
	font-size: 105%;
	font-weight: normal;
	margin: 0;
}