#CurrentInterests {
    clear: both;
}
#InterestsBar {
    clear: both;
}

.InterestItem {
    margin-bottom: 0.1em;
    padding: 0;
    border: 0.17em solid;
	border-color:  rgba(255,255,255,0.25);
	padding-bottom: 1.0em;	

   transition: width 2s;
   transition: height 2s;

   -webkit-transition:border-color 0.618s ease-in;  
   -moz-transition:border-color 0.618s ease-in;  
   -o-transition:border-color 0.618s ease-in;  

	-webkit-transition:background-color 0.618s ease-in;  
   -moz-transition:background-color 0.618s ease-in;  
   -o-transition:background-color 0.618s ease-in;  

}
.interestSelected {
	border-color: rgba(255, 0, 0, 0.75);	
   -webkit-transition:border-color 0.618s ease-in;  
   -moz-transition:border-color 0.618s ease-in;  
   -o-transition:border-color 0.618s ease-in;  
}

/* http://www.quackit.com/css/css_color_codes.cfm */
.interestItem25 {
    background-color: rgba(135,135,135,0.25);
    font-size: 115%;
    vertical-align: top;
}
.interestItem50 {
    background-color: rgba(175,175,175,0.30);
    font-size: 135%;
    vertical-align: top;
}
.interestItem75 {
    background-color: rgba(215,215,215,0.35);
    font-size: 155%;
    vertical-align: top;
}
.interestItem100 {
    background-color: rgba(255,255,255,0.4);
    font-size: 175%;
    vertical-align: top;
}

#Profile {
    clear:both;
}

.ImportanceButtons {
	float: right;
	position: relative;
	top:0;
}

.ImportanceButtons button {
	padding: 0;
	margin: 0;
	border: 0;
}


#SelfSidebar {
	left: 0;
	height: 90%;
	top: 3em;
	overflow: auto;
	position: fixed;
}

#SelfContent{
	position: relative;
	height: 90%;
	width: 100%;
	overflow: auto;
	top: 3em;
}
		.nameInput {
			width: 100%;
			font-size: 150%;
		}
		.valueInput {
			width: 95%;
			font-size: 125%;
			margin-bottom: 0.4em;
		}
		
		.updateButton {
			font-weight: bold;
		}
		
		.eBottom {
			border-top: 1px solid gray;
			clear: both;
			float: right;
			width: 100%;
			text-align: right;
		}
		.typeCollapsible {
			margin-left: 1em;
		}
		.typeMenu {
			float: left;
			width: 32%;
		}
		.valueArea {
			overflow: auto;
			width: 63%;
			float: right;
			margin-top: 0.5em;
		}
