#teamWrapper {
    width: 100%;
}
 

#teamRoster {
    width: 32%;
    height: 80%;
    bottom: 10%;
	overflow: auto;
	float: right;
}


.teamMessage {
    border: 1px solid #ddd;
    padding: 0.5em;
    margin-bottom: 0.25em;
}

.RosterSummary {
    border: 1px solid gray;
    overflow: auto;
}
.RosterFull {
    /*display: none;*/
}