#teamWrapper {
    width: 100%;
}
 
#teamContent {
    width: 100%;
    overflow: auto;
    height: 90%;
}

#teamRoster {
    width: 32%;
    height: 80%;
    bottom: 10%;
	overflow: auto;
	float: right;
}

.MessageSubject {
    width: 82%;
    font-size: 125%;
    padding: 0.25em;
    margin: 0.25em;
}
.MessageDescription {
    width: 98%;	
    padding: 0.25em;
    margin: 0.25em;
}

.teamMessage {
    border: 1px solid #ddd;
    padding: 0.5em;
    margin-bottom: 0.25em;
}

.RosterSummary {
    border: 1px solid gray;
    overflow: auto;
}
.RosterFull {
    /*display: none;*/
}