root { 
    display: block;
}
body {
    font-family: Arial, sans;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
#controls {
    width: 40%;
    float: left;
    height: 90%;
}
#map, #mapHeat {
    width: 60%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}
#mapHeat {
    z-index: 3000;
    pointer-events: none;
    opacity: 0.5;
}
#tabs {
    border: none;
    height: 95%;
}
#tabs-0, #tabs-1, #tabs-2, #tabs-3 {
    overflow: auto;    
    height: 100%;
}
#tree1 {
    margin-left: 0px;
    margin-top: 0px;
}
#tree1 li  {
    font-size: 100%;
    padding-top: 0.3em;    
    padding-bottom: 0.3em;    
    background-color: rgba(0,0,0,0.1);
}
ul.mktree ul {
}

#presets {
    margin: 0px;
    padding-left: 0px;
}

#presets li {
    font-size: 120%;
    list-style: none;
}

#presets li p {
    margin-left: 2em;
}
