
@import url("/theme/bright.css");

body {
    background-image: url('/theme/cybernetic/p2p_banner.jpg'); 
    background-attachment: fixed;
    background-size: stretch;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;    
}