@import url("http://bootswatch.com/spacelab/bootstrap.min.css");
 
body {
    background-color: #222;
    color: white;
}
h1, .objectView h1, h3, .objectView h3 {
    color: white;
}

.objectView {
    padding: 0.25em;
    margin-bottom: 0.5em;
    background-color: rgba(36, 36, 36, 0.8);
    background-image: -webkit-linear-gradient(top right, rgba(64, 64, 64, 0.8) 0%, rgba(74, 74, 74, 0.8) 100%);
    border-left: 5px solid rgba(0, 0, 0, 0.5);
}