@import url('/lib/jquery-ui/1.10.3/themes/ui-darkness/jquery-ui.min.css');
body { background: url('/theme/matrix/matrix-blue.gif') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed; 
}

#View  {
    background: url('/theme/matrix/matrix-blue.gif') !important;
}
#ViewMenu { 
    background: url('/theme/matrix/matrix-blue.gif') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed; 
}
#LoadingSplash { 
    background: url('/theme/matrix/matrix-blue.gif') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-attachment:fixed; 
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: #36F !important; border: #30F !important; }